<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.akpublish.magicsiege" android:versionCode="1" android:versionName="1.0">
    <!--PERMISSIONS START-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <permission android:name="com.akpublish.magicsiege.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.akpublish.magicsiege.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
    <!--PERMISSIONS END-->
    <application>
        <activity android:name="com.unity3d.player.UnityPlayerActivity" android:theme="@style/UnityThemeSelector" android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        <activity android:name="com.facebook.unity.FBUnityLoginActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.facebook.unity.FBUnityDialogsActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.facebook.unity.FBUnityGamingServicesFriendFinderActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.facebook.unity.FBUnityAppLinkActivity" android:exported="true" />
        <activity android:name="com.facebook.unity.FBUnityDeepLinkingActivity" android:exported="true" />
        <activity android:name="com.facebook.unity.FBUnityGameRequestActivity" />
        <activity android:name="com.facebook.unity.FBUnityCreateGameGroupActivity" />
        <activity android:name="com.facebook.unity.FBUnityJoinGameGroupActivity" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb130208764223809" />
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="true" />
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled" android:value="true" />
        <provider android:name="com.facebook.FacebookContentProvider" android:authorities="com.facebook.app.FacebookContentProvider130208764223809" android:exported="true" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>
</manifest>